PORT=3000
DATABASE_URL=postgresql://postgres:<DB_PASSWORD>@database:5432/<DB_NAME>?schema=public
SESSION_SECRET=<SECURE_SESSION_KEY>

POSTGRES_USER=postgres
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_DB=<DB_NAME>